@model WarehouseModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.WarehouseDetailsTop, additionalData = Model })
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Name" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Name" asp-required="true" />
                            <span asp-validation-for="Name"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="AdminComment" />
                        </div>
                        <div class="col-md-9">
                            <nop-textarea asp-for="AdminComment" />
                            <span asp-validation-for="AdminComment"></span>
                        </div>
                    </div>
                    <nop-editor asp-for="Address" asp-template="Address" />
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Latitude"/>
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Latitude"  />
                            <span asp-validation-for="Latitude"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="Longitude" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Longitude"/>
                            <span asp-validation-for="Longitude"></span>
                        </div>
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.WarehouseDetailsBottom, additionalData = Model })
        </div>
    </div>
</div>