﻿@using static Nop.Services.Employee.Employee

@model IEnumerable<ListEmployee>

<div class="panel-group">
    @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.CustomerDetailsInfoTop, additionalData = Model })
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="Name"/>
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Name"/>
                        <span asp-validation-for="Name"></span>
                    </div>
            </div>
           
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Email"/>
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Email"/>
                    <span asp-validation-for="Email"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="Salary"/>
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Salary"/>
                    <span asp-validation-for="Salary"></span>
                </div>
            </div>
         </div>   
   </div>
    @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.CustomerDetailsInfoBottom, additionalData = Model })
</div>