﻿@using static Nop.Services.Employee.Employee



@model IEnumerable<ListEmployee>

@inject IEventPublisher eventPublisher

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <nop-tabs id="employee-edit">
            <nop-tab asp-name="tab-info" asp-title="@T("Admin.Employee.Employee.Info")" asp-default="true">@await Html.PartialAsync("_CreateOrUpdate.Info", Model)</nop-tab>
        </nop-tabs>
    </div>
</div>

