﻿@model Nop.Core.Domain.Catalog.Employee_New


<div class="container-fluid">
    <div class="row">
        @*      @using (Html.BeginForm("Create", "Employee", FormMethod.Post, enctype="multipart/form-data"))

        {*@
        <p></p>

        <form enctype="multipart/form-data" asp-action="Create">
            <div class="col-sm-12">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Name</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" id="Name" class="form-control" name="Name" size="50" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Email</label>
                        </div>
                        <div class="col-md-9">
                            <input type="email" id="Email" class="form-control" size="50" name="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Salary</label>
                        </div>
                        <div class="col-md-9">
                            <input type="number" id="Salary" class="form-control" size="50" name="Salary" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>ProfileImage</label>
                        </div>
                        <div class="col-md-9">
                            <input type="file" id="ProfileImage" class="form-control" size="50" name="ProfileImage" />
                            <span asp-validation-for="ProfileImage" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <button class="btn btn-primary" type="submit" id="submitbtn">Save</button>
                    </div>
                </div>
            </div>
        </form>
        @*  }*@
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function() {
        $('#submitbtn').click(function() {
            alert('Success!..');
          // window.location.replace("List");

        });

    });

</script>

@*<script>
$(document).ready(function() {
    $('.')
})
</script>*@



@*<div class="container-fluid">
        <div class="row">
            @using (Html.BeginForm("Create", "Employee", FormMethod.Post))
           {
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" id="Name" class="form-control" name="Name"  />
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" id="Email"  class="form-control" name="Email" />
                </div>
                <div class="form-group">
                    <label>Salary</label>
                    <input type="number" id="Salary"  class="form-control" name="Salary" />
                </div>
                <div class="col-sm-12">
                <button class="btn btn-primary" type="submit" id="updatebtn">Submit</button>
            </div>
           </div>
           }
       </div>
</div>*@