﻿
@*@model Nop.Core.Domain.Catalog.EmployeeListmodel*@

@model IEnumerable<Nop.Core.Domain.Catalog.Employee_New>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" />
<script src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/2.2.3/jquery.elevatezoom.min.js" type="text/javascript"></script>

@*<script type="text/javascript">
$(function() {
$("#img1").elevateZoom();
});
</script>

<style>


#img1{
  box-sizing: border-box;
}

.img1 {
  padding: 50px;
  
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.img1:hover {
  -ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5);
  transform: scale(1.5); 
}
</style>*@




<div class="panel-body">
    <center><a href="Create" class="btn btn-primary" onclick="Create"><span class='glyphicon glyphicon-plus'></span>Add New </a></center>

    <table id="example" class="container" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Salary</th>
                <th>ProfileImage</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>

            @if (Model != null)
            {
                foreach (var item in Model)

                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                        <td>@item.Salary</td>
                        @*<td><iframe src="~/images/thumbs/@item.ProfileImage" width="70" height="37"></iframe> </td>*@
                        <td><img id="img1" src="~/images/thumbs/@item.ProfileImage" class= "img-thumbnail" /></td>
                        <td><a href='Edit?id=@item.Id' class='btn btn-warning' id='UpdateConfirm' onclick='Update(@item.Id)'><span class='glyphicon glyphicon-edit'></span></a></td>

                        <td><a href='#' class='btn btn-danger' onclick='Delete(@item.Id)'><span class='glyphicon glyphicon-trash'></span></a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div id="box" class="test">
    <h2>TestBox</h2>
    <p>Lorem ipsm</p>
</div>


<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
$(document).ready(function() {
    $('#box').click(function() {
        $('#box').css('background-color', 'green');
    });

    $('#box').dblclick(function() {
        $('#box').css('background-color', 'orange');
    });

    $('#box').contextmenu(function() {
        $('#box').css('background-color', 'blue');
    });

    $('#box').mouseenter(function() {
        $('#box').css('background-color', 'tan');
    });

    $('#box').mouseleave(function() {
        $('#box').css('background-color', 'purple');
    });
});
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'csvHtml5'
            ]

        })

    });
   
    var Delete = function(Id1) {        
        $.ajax({
            type: "GET",
            url: "Delete?Id=" + Id1,
            success: function(result) {
                alert("Success!..");
                window.location.replace("List");
            }
        })

    }
    
$(document).ready(function() {
    $('[tr]').css('border','5px solid red');
});
</script>





@*@{


    if (Model.Email != null)
    {
       // var model1  = Model.ListEmployeemodeldata();
        $("#Name2").val("hi");
    }


 }*@

@*<div id="grid">
    </div>
    <script>
        var products = [{
            ProductID: 11,
            ProductName: "manish1",
        }, {
            ProductID: 22,
            ProductName: "manish2",
        }, {
            ProductID: 33,
            ProductName: "manish3",
        }, {
            ProductID: 44,
            ProductName: "manish4",
        }, {
            ProductID: 55,
            ProductName: "manish5",
        },
        {
            ProductID: 66,
            ProductName: "Swapnil",
        },
        {
            ProductID: 07,
            ProductName: "Jhon",
        }];


        $(document).ready(function () {
            $("#grid").kendoGrid({
                dataSource: {
                    data: products,
                    schema: {
                        model: {
                            id: "ProductID",
                            fields: {
                                ProductName: {
                                    type: "string"
                                }
                            },
                        }
                    },
                    pageSize: 5
                },
                sortable: true,
                filterable: true,
                pageable: true,
                columns: [
                    { field: "ProductID", title: "ProductID" },
                    { field: "ProductName", title: "ProductName" },
                    { command: ["edit" , "destroy"], title: "&nbsp;" }
                ],
                editable: "inline"
            });
        });
    </script>*@


@*<div class="container">
    <form asp-controller="Employee" asp-action="List" method="post">
        @if (Model != null)
        {
            foreach (var item in Model.ListEmployeemodeldata)
            {

                <table class="table">
                    <tr>
                        <th>

                            <div class="form-group">
                                <input class="form-control" type="text" asp-for="@item.Id"
                               @item.Id) />
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <input class="form-control" type="text" asp-for="@item.Name"
                               @item.Name) />
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <input class="form-control" type="text" asp-for="@item.Email"
                               @item.Email) />
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <input class="form-control" type="text" asp-for="@item.Salary"
                               @item.Salary) />
                            </div>
                        </th>
                        <th>
                            @Html.ActionLink("Update", "Edit", new { id = item.Id, item.Name, item.Email, item.Salary},new {@class="btn bg-green"} )
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id },new {@class="btn bg-red"})
                        </th>
                    </tr>
                </table>
            }
        }
    </form>
</div>
*@
@*
<div>
  @(Html.Kendo().Grid(new List<EmployeeListmodel>())
            .Name("ListEmployeemodel")
            .Pageable()
            .Sortable()
            .Filterable()
            .DataSource(dataSource => dataSource
                .Ajax()
            .Read(read => read.Action("GetList", "Employee"))
                .PageSize(20)
                .ServerOperation(false)

 ))
</div>
*@


@*<div class="row">
    <div class="col-md-7 col-md-offset-5">
        <button type="button" id="search-customers" class="btn btn-primary btn-search">
            <i class="fa fa-search"></i>
            check
        </button>

        <div id="Name2"></div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div id="customers-grid"></div>

        <script>
            $(document).ready(function() {
                $("#customers-grid").kendoGrid({
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("GetList", "Employee"))",
                                type: "POST",
                                dataType: "json",
                                data: function() {
                                    var data = {
                                        Id: $('#@Html.IdFor(model => model.Id)').val(),
                                        Name: $('#@Html.IdFor(model => model.Name)').val(),
                                        Email: $('#@Html.IdFor(model => model.Email)').val(),
                                        Salary: $('#@Html.IdFor(model => model.Salary)').val()
                                    };

                                    addAntiForgeryToken(data);
                                     //debugger;
                                    return data;
                                }

                            }
                        },
                        schema: {

                            data: "Data",
                            total: "Total",
                            errors: "Errors"
                        },
                        error: function(e) {
                            // display_kendoui_grid_error(e);
                        },
                        pageSize: 10,
                        serverPaging: true,
                        serverFiltering: true,
                        serverSorting: true
                    },
                    pageable: {
                        refresh: true,
                        pageSizes: [10]
                    },
                    scrollable: false,
                    columns: [
                        {
                            field: "Id",
                            title: "Id",

                            width: 50
                        },
                        {
                            field: "Name",
                            title: "Name",
                            width: 200
                        },

                    ]
                });
            });



        </script>

    </div>
</div>*@

@*<div>
    <script>

        $(document).ready(function() {

            //search button
           // $('#search-customers').click(function() {
             //   var grid = $('#customers-grid').data('kendoGrid');
             //   grid.dataSource.page(1); //new search. Set page size to 1

             //   return false;
           // })
        });
    </script>
</div>*@ 