@model ProductTagModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

@if (ViewBag.RefreshPage == true)
{
    <script>
        try {window.opener.document.forms['@(Context.Request.Query["formId"])'].@(Context.Request.Query["btnId"]).click();}
        catch (e){}
        window.close();
    </script>
}

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.ProductTagDetailsTop, additionalData = Model })
            <div class="panel panel-default panel-popup">
                <div class="panel-body">
    @(Html.LocalizedEditor<ProductTagModel, ProductTagLocalizedModel>("producttag-localized",
                    @<div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <nop-label asp-for="@Model.Locales[item].Name" />
                            </div>
                            <div class="col-sm-9">
                                <nop-editor asp-for="@Model.Locales[item].Name" />
                                <span asp-validation-for="@Model.Locales[item].Name"></span>
                            </div>
                        </div>
                        <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
                    </div>
    ,
                    @<div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <nop-label asp-for="Name" />
                            </div>
                            <div class="col-sm-9">
                                <nop-editor asp-for="Name" asp-required="true" />
                                <span asp-validation-for="Name"></span>
                            </div>
                        </div>

                        <br />
                            <div class="form-group">
                                <div class="col-md-3">
                                    <nop-label asp-for="ProductImage" />
                                </div>
                                <div class="col-md-3">
                                    <input type="file" id="ProductImage" class="form-control" name="ProductImage" />
                                    <span asp-validation-for="ProductImage" class="text-danger"></span>

                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                    </div>
    ))
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        @T("Admin.Catalog.Products.Pictures.AddNew")
                    </div>
                    <div class="panel-body">
                        <script>
                            $(document).ready(function () {
                                $('#addProductPicture').click(function () {
                                    var productImage = $("#@Html.IdFor(model => model.AddPictureModel.ProductImage)").val();
                                    

                                    if (productImage == 0) {
                                        alert('Upload picture first');
                                        return;
                                    }

                                    $('#addProductPicture').attr('disabled', true);

                                    var postData = {
                                        productImage: productImage,
                                        Id: '@Model.Id'
                                    };
                                    addAntiForgeryToken(postData);

                                    $.ajax({
                                        cache: false,
                                        type: "POST",
                                        url: "@(Url.Action("ProductPictureAdd", "Product"))",
                                        data: postData,
                                        success: function (data) {
                                            $('#addProductPicture').attr('disabled', false);
                                            if (!data.Result)
                                                return;
                                            var grid = $("#productpictures-grid");
                                            grid.data('kendoGrid').dataSource.read();
                                        },
                                        error: function (xhr, ajaxOptions, thrownError) {
                                            alert('Failed to add product picture.');
                                            $('#addProductPicture').attr('disabled', false);
                                        }
                                    });
                                });
                            });
                        </script>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="AddPictureModel.ProductImage" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="AddPictureModel.ProductImage" />
                                <span asp-validation-for="AddPictureModel.ProductImage"></span>
                            </div>
                        </div>
                        @*<div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="AddPictureModel.OverrideAltAttribute" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="AddPictureModel.OverrideAltAttribute" />
                                <span asp-validation-for="AddPictureModel.OverrideAltAttribute"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="AddPictureModel.OverrideTitleAttribute" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="AddPictureModel.OverrideTitleAttribute" />
                                <span asp-validation-for="AddPictureModel.OverrideTitleAttribute"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="AddPictureModel.DisplayOrder" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="AddPictureModel.DisplayOrder" />
                                <span asp-validation-for="AddPictureModel.DisplayOrder"></span>
                            </div>
                        </div>*@
                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <button type="button" id="addProductPicture" class="btn btn-primary">@T("Admin.Catalog.Products.Pictures.AddButton")</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.ProductTagDetailsBottom, additionalData = Model })
        </div>
    </div>
</div>