﻿@model Nop.Core.Domain.Catalog.ProductTag1


@*<form asp-controller="Product" asp-action="CreateProductTags" method="post" id="product-tags-form">*@
<form enctype="multipart/form-data" asp-action="CreateProductTags" id="product-tags-form">
    <div class="content-header clearfix">
            <h1 class="pull-left">
            @T("Admin.Product.ProductTag.AddNew")
                <small>
                    <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="ProductTags">@T("Admin.Product.ProductTags.BackToList")</a>
                </small>
            </h1>
            <div class="pull-right">
                <button type="submit" name="save" class="btn bg-blue">
                    <i class="fa fa-floppy-o"></i>
                    @T("Admin.Common.Save")
                </button>
                <button type="submit" name="save-continue" class="btn bg-blue">
                    <i class="fa fa-floppy-o"></i>
                    @T("Admin.Common.SaveContinue")
                </button>
               
            </div>
        </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                
                <div class="panel panel-default panel-popup">
                    <div class="panel-body">

                        <div>
                            <br />
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <nop-label asp-for="Name" />
                                </div>
                                <div class="col-sm-9">
                                    <nop-editor asp-for="Name" asp-required="true" />
                                    <span asp-validation-for="Name"></span>
                                </div>
                            </div>
                            <br/>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <nop-label asp-for="ProductImage" />
                                </div>
                                <div class="col-sm-9">
                                    <input type="file" id="ProductImage" name="ProductImage" required/>
                                    <span asp-validation-for="ProductImage" class="text-danger"></span>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
</form>


