@model ProductTagSearchModel

@{
    //page title
    ViewBag.Title = T("Admin.Catalog.ProductTags").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Product tags");
}

<form asp-controller="Product" asp-action="ProductTags" method="post" id="product-tags-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Catalog.ProductTags")
        </h1>
        <div class="pull-right">
                    <a asp-action="CreateProductTags" class="btn bg-blue">
                        <i class="fa fa-plus-square"></i>
                        @T("Admin.Common.AddNew")
                    </a>
            &nbsp;
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.ProductTagListButtons })
        </div>
        <p></p>
        <p></p>

    </div>

    <div class="content">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                   @* <div class="pull-right">
                    <a asp-action="CreateProductTags" class="btn bg-blue">
                        <i class="fa fa-plus-square"></i>
                        @T("Admin.Common.AddNew")
                    </a>
                    </div>
                    <br />
                    <p></p>
                    <p></p>*@
                    <div id="product-tags-grid"></div>

                    <script>
                        $(document).ready(function () {
                            $("#product-tags-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("ProductTags", "Product"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        },
                                        destroy: {
                                            url: "@Html.Raw(Url.Action("ProductTagDelete", "Product"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors",
                                        model: {
                                            id: "Id",
                                            fields: {
                                                ProductImage: { editable: true, type: "string" },
                                                Name: { editable: true, type: "string" },
                                                Value: { editable: true, type: "string" },
                                                Store: { editable: true, type: "string" },
                                                StoreId: { editable: true, type: "number" },
                                                Id: { editable: false, type: "number" }
                                            }
                                        }
                                    },
                                    requestEnd: function (e) {
                                        if (e.type == "create" || e.type == "update") {
                                            this.read();
                                        }
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(Model.PageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(Model.AvailablePageSizes)],
                        @await Html.PartialAsync("_GridPagerMessages")
                                                        },
                            editable: {
                            confirmation: "@T("Admin.Common.DeleteConfirmation")",
                            mode: "inline"
                        },
                            scrollable: false,
                            columns: [
                            {
                                field: "Id",
                                title: "@T("Admin.Catalog.ProductTags.Fields.Id")",
                                width: 100
                            },{
                                field: "ProductImage",
                                title: "@T("Admin.Catalog.ProductTag.Fields.ProductImage")",
                                //template: '<img src="#=ProductImage#" />',
                                template: '<img src="@Url.Content("~/ProductTagImage/")#=ProductImage#" style="width: 80px; height:60px;"/>',
                                width: 100
                            },{
                                field: "Name",
                                title: "@T("Admin.Catalog.ProductTags.Fields.Name")",
                                width: 100
                            }, {
                                field: "ProductCount",
                                title: "@T("Admin.Catalog.ProductTags.Fields.ProductCount")",
                                width: 100
                            }, {
                                field: "Id",
                                title: "@T("Admin.Common.Edit")",
                                width: 100,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                                template: "<button onclick=\"javascript:OpenWindow('@Url.Content("~/Admin/Product/EditProductTag/")#=Id#?btnId=btnRefresh&formId=product-tags-form', 800, 320, true); return false;\" class='btn btn-default'><i class=\"fa fa-pencil\"></i>@T("Admin.Common.Edit")</button>"
                            }, {
                                command: { name: "destroy", text: "@T("Admin.Common.Delete")" },
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                                title: "@T("Admin.Common.Delete")",
                                width: 100
                            }
                        ]
                                                    });
                                                });
                    </script>
                    <input type="submit" id="btnRefresh" style="display: none" />
                    <script>
                        $(document).ready(function () {
                            $('#btnRefresh').click(function () {
                                //refresh grid
                                var grid = $("#product-tags-grid").data('kendoGrid');
                                grid.dataSource.read();

                                //return false to don't reload a page
                                return false;
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</form>