﻿@model Nop.Core.Domain.Catalog.Student_New1

<div class="container-fluid">
    <div class="row">
        <form enctype="multipart/form-data" asp-action="Create">
            <div class="col-sm-12">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Name</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" id="Name" class="form-control" name="Name" size="50" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Email</label>
                        </div>
                        <div class="col-md-9">
                            <input type="email" id="Email" class="form-control" size="50" name="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Salary</label>
                        </div>
                        <div class="col-md-9">
                            <input type="number" id="Salary" class="form-control" size="50" name="Salary" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>ProfileImage</label>
                        </div>
                        <div class="col-md-9">
                            <input type="file" id="ProfileImage" class="form-control" size="50" name="ProfileImage" />
                            <span asp-validation-for="ProfileImage" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <button class="btn btn-primary" type="submit" id="submitbtn">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
