﻿@model Nop.Core.Domain.Catalog.Student_New1

<div class="container-fluid">
    <div class="row">
        <p></p>
        <form enctype="multipart/form-data" asp-action="Update">

            <div class="col-sm-12">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Id</label>
                        </div>
                        <div class="col-md-9">
                            <input type="number" id="Id" value="@Model.Id" class="form-control" name="Id" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Name</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text" id="Name" value="@Model.Name" class="form-control" name="Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Email</label>
                        </div>
                        <div class="col-md-9">
                            <input type="email" id="Email" value="@Model.Email" class="form-control" name="Email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Salary</label>
                        </div>
                        <div class="col-md-9">
                            <input type="number" id="Salary" value="@Model.Salary" class="form-control" name="Salary" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>ProfileImage</label>
                        </div>
                         <div class="col-md-9">
                            <input type="text" id="ProfileImage1" value="@Model.ProfileImage1" class="form-control" name="ProfileImage1" readonly/>
                        </div>
                    </div>
                    <div class="form-group">

                        @if (@Model.ProfileImage1 != null)
                        {
                            <div class="col-md-3">
                                <img src="~/images/thumbs/@Model.ProfileImage1" style="height:50px;width:65px;" />
                            </div>
                            <div class="col-md-9">
                                <input type="file" name="ProfileImage"  />
                                <span asp-validation-for="ProfileImage1" class="text-danger"></span>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-3">
                                <img src="~/images/thumbs/@Model.ProfileImage1" style="height:50px;width:65px;" />
                            </div>

                            <div class="col-md-9">
                                <input type="file" name="ProfileImage"  />
                                <span asp-validation-for="ProfileImage" class="text-danger"></span>
                            </div>
                        }
                    </div>
                    <div class="col-sm-12">
                        <button class="btn btn-primary" type="submit" id="updatebtn">Update</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

