﻿@model IEnumerable<Nop.Core.Domain.Catalog.Student>



<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" />
<script src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>

<div class="panel-body">
    <center><a href="Create" class="btn btn-primary" onclick="Create"><span class='glyphicon glyphicon-plus'></span>Add New </a></center>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input name="Name" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input name="Email" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label>Mobile</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input name="Mobile" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label>CreatedDate</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input name="CreatedDate" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label>Gender</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input name="Gender" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7 col-md-offset-5">
                                    <button type="button" id="search-customers" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table id="example" class="container" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Salary</th>
                <th>ProfileImage</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>

            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                        <td>@item.Salary</td>
                        @*<td><iframe src="~/images/thumbs/@item.ProfileImage" width="70" height="37"></iframe> </td>*@
                        <td><img src="~/images/thumbs/@item.ProfileImage" class="img-thumbnail" style="height:50px;width:65px;"/></td>
                        <td><a href='Edit?id=@item.Id' class='btn btn-warning' id='UpdateConfirm' onclick='Update(@item.Id)'><span class='glyphicon glyphicon-edit'></span></a></td>

                        <td><a href='#' class='btn btn-danger' onclick='Delete(@item.Id)'><span class='glyphicon glyphicon-trash'></span></a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<script src="~/Scripts/jquery-3.4.1.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'csvHtml5'
            ]

        })

    });
   
    var Delete = function(Id1) {        
        $.ajax({
            type: "GET",
            url: "Delete?Id=" + Id1,
            success: function(result) {
                alert("Success!..");
                window.location.replace("List");
            }
        })

    }
</script>