﻿@model CustomerModel

@using Nop.Services.Stores
@inject IStoreService storeService
@{
    var stores = storeService.GetAllStores();
}
<div class="panel-group">
    @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.CustomerDetailsOrdersTop, additionalData = Model })
    <div class="panel panel-default">
        <div class="panel-body">
            <div id="order-grid"></div>

            <script>
                $(document).ready(function () {
                    $("#order-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("OrderList", "Customer"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: function() {
                                        var data = {
                                            CustomerId: '@(Model.Id)'
                                        };
                                        addAntiForgeryToken(data);
                                        return data;
                                    }
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(Model.CustomerOrderSearchModel.PageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(Model.CustomerOrderSearchModel.AvailablePageSizes)],
                            @await Html.PartialAsync("_GridPagerMessages")
                        },
                        editable: {
                            confirmation: "@T("Admin.Common.DeleteConfirmation")",
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [{
                            field: "CustomOrderNumber",
                            title: "@T("Admin.Customers.Customers.Orders.CustomOrderNumber")",
                            width: 200
                        }, {
                            field: "OrderTotal",
                            title: "@T("Admin.Customers.Customers.Orders.OrderTotal")",
                            width: 200
                        }, {
                            field: "OrderStatus",
                            title: "@T("Admin.Customers.Customers.Orders.OrderStatus")",
                            width: 200,
                            template: '<span class="grid-report-item ' +
                                                '# if(OrderStatusId == 10) {# yellow #} #' +
                                                '# if(OrderStatusId == 20) {# blue #} #' +
                                                '# if(OrderStatusId == 30) {# green #} #' +
                                                '# if(OrderStatusId == 40) {# red #} #' +
                                                '# if(OrderStatusId == 50) {# greeen #} #' +
                                                '">#=OrderStatus#</span>'
                        }, {
                            field: "PaymentStatus",
                            title: "@T("Admin.Customers.Customers.Orders.PaymentStatus")",
                            width: 200
                        }, {
                            field: "ShippingStatus",
                            title: "@T("Admin.Customers.Customers.Orders.ShippingStatus")",
                            width: 200
                        },{
                            field: "StoreName",
                            hidden: @(stores.Count > 1 ? "false" : "true"),
                            title: "@T("Admin.Customers.Customers.Orders.Store")",
                            width: 200
                        }, {
                            field: "CreatedOn",
                            title: "@T("Admin.System.Log.Fields.CreatedOn")",
                            width: 200,
                            type: "date",
                            format: "{0:G}"
                        }, {
                            field: "Id",
                            title: "@T("Admin.Common.View")",
                            width: 100,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: '<a class="btn btn-default" href="@Url.Content("~/Admin/Order/Edit/")#=Id#"><i class="fa fa-eye"></i>@T("Admin.Common.View")</a>'
                        }]
                    });
                });
            </script>
        </div>
    </div>
    @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.CustomerDetailsOrdersBottom, additionalData = Model })
</div>
