﻿@model Nop.Core.Domain.Catalog.UserTable1

<br />


<div class="container">
    <div class="content-header clearfix" style="background-color: white !important;">
        <h1 class="pull-left">
            @T("Add New User")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.User.BackToList")</a>
            </small>
        </h1>
    </div>
    <br />
</div>

<div class="container">
    <div class="content-middle" style="background-color: white !important;">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
</div>

<br />

<style>
    .required:after {
        content: " *";
        color: red;
    }
    button{
        align-items:center;
    }
</style>

<div class="container">

    <div class="content" style="background-color: white !important;">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-12 clearfix">
                    <div class="tab-content">
                        <p></p>
                        <form enctype="multipart/form-data" asp-action="Create">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label>Name</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" id="Name" class="form-control" name="Name" />
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label class="required">Email</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="email" id="Email" class="form-control" name="Email" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label class="required">Mobile</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="number" id="Mobile" class="form-control" name="Mobile" />
                                    <span asp-validation-for="Mobile" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-3">
                                    <label class="required">DateOfBirth</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="date" id="DOB" class="form-control" name="DateOfBirth" />
                                    <span asp-validation-for="Date" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>

                            <br />
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label class="required">Marital Status</label>
                                </div>
                                <div class="col-md-3">
                                    <select name="MaritalStatus">
                                        <option selected disabled>Select Marital Status</option>
                                        <option>Married</option>
                                        <option>Unmarried</option>
                                    </select>
                                    <span asp-validation-for="MaritalStatus" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label class="required">Gender</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="radio" name="Gender" value="M" />Male
                                    <input type="radio" name="Gender" value="F" />Female
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label class="required">ProfileImage</label>
                                </div>
                                <div class="col-md-3">
                                    <input type="file" id="ProfileImage" class="form-control" name="ProfileImage" />
                                    <span asp-validation-for="ProfileImage" class="text-danger"></span>

                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
@*                                <div class="col-md-2">
                                </div>*@
                                <div class="col-md-2">
                                    <button type="submit" id="submitbtn" name="save" class="btn bg-blue" style="width:90px">
                                        <i class="fa fa-floppy-o"></i>
                                        @T("Admin.Common.Save")
                                    </button>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#DOB').datepicker({
            appendText: 'mm/dd/yyyy',
            showOn: 'both',
            buttonText: 'Calender'
        })
    })
</script>