﻿@model Nop.Core.Domain.Catalog.UserTable1
<br />
<div class="container">
    <div class="content-header clearfix" style="background-color: white !important;">
        <h1 class="pull-left">
            @T("Add New User")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.User.BackToList")</a>
            </small>
        </h1>
    </div>
    <br />
</div>

<div class="container">
    <div class="content-middle" style="background-color: white !important;">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
</div>
<br />

<div class="content">
    
    <div class="container">
        
        <div class="content" style="background-color: white !important;">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-12 clearfix">
                        <div class="tab-content">
                            <p></p>
                            <form enctype="multipart/form-data" asp-action="Edit">

                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label>Id</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="number" id="Id" value="@Model.Id" class="form-control" name="Id" readonly />
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" id="Name" value="@Model.Name" class="form-control" name="Name" />
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="email" id="Email" value="@Model.Email" class="form-control" name="Email" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label>Mobile</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="number" id="Mobile" value="@Model.Mobile" class="form-control" name="Mobile" />
                                        <span asp-validation-for="Mobile" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label>Marital Status</label>
                                    </div>
                                    <div class="col-md-3">
                                        <select asp-for="MaritalStatus">
                                            <option selected disabled>Select Marital Status</option>
                                            <option>Married</option>
                                            <option>Unmarried</option>
                                        </select>
                                        <span asp-validation-for="MaritalStatus" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label>Gender</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div>
                                            <span>
                                                @{
                                                    var Gender1 = Model.Gender.ToString();

                                                }
                                            </span>
                                        </div>
                                        @if (Gender1 == "M")
                                        {
                                            <div>
                                                <span> <input type="radio" name="Gender" checked value="M" /> Male</span>
                                                <span> <input type="radio" name="Gender" value="F" /> Female</span>
                                            </div>
                                        }
                                        else
                                        {
                                            <div>
                                                <span> <input type="radio" name="Gender" value="M" /> Male</span>
                                                <span> <input type="radio" name="Gender" checked value="F" /> Female</span>
                                            </div>
                                        }
                                        <span asp-validation-for="Gender" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                                <br />


                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label>ProfileImage</label>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" id="ProfileImage1" value="@Model.ProfileImage1" class="form-control" name="ProfileImage1" readonly />
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    @if (@Model.ProfileImage1 != null)
                                    {
                                        <div class="col-md-3">
                                            <img src="~/images/thumbs/@Model.ProfileImage1" style="height:50px;width:65px;" />

                                        </div>
                                        <div class="col-md-3">
                                            <input type="file" name="ProfileImage" />
                                            <span asp-validation-for="ProfileImage1" class="text-danger"></span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-3">
                                            <img src="~/images/thumbs/@Model.ProfileImage1" style="height:50px;width:65px;" />
                                        </div>

                                        <div class="col-md-3">
                                            <input type="file" name="ProfileImage" />
                                            <span asp-validation-for="ProfileImage" class="text-danger"></span>
                                        </div>
                                    }
                                </div>
                                <br />
                                
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <button type="submit" id="submitbtn" name="save" class="btn bg-blue" style="width:90px">
                                            <i class="fa fa-floppy-o"></i>
                                            @T("Admin.Common.Save")
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<img id="img1" src="~/images/thumbs/@(item.ProfileImage?? "DefaultImage.jpeg")" class= "img-thumbnail" />*@