﻿@model IEnumerable<Nop.Core.Domain.Catalog.UserTable3>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
    .custom-select {

         background-color: white !important;
     }
    .content {
         padding-bottom: 1px !important;
    }
</style>

<div class="content">
    <div class="content-header clearfix">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="pull-left">
                            <span style="font-size:20px;"><label>Users</label> </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <center><a href="Create" class="btn btn-primary" onclick="Create"><span class='glyphicon glyphicon-plus'></span> Add New </a></center>
                        </div>

                        <div class="pull-left">
                            <center><a href="Test" class="btn btn-primary" onclick="Test"><span class='glyphicon glyphicon-plus'></span> Test </a></center>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br />
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="container">
                    <form>
                        <div class="panel-body">
                            <br />
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label>Name</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input name="Name" id="Name" />
                                        </div>
                                    </div>
                                    <p></p>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label>Email</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input name="Email" id="Email" />
                                        </div>
                                    </div>
                                    <p></p>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label>Mobile</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input name="Mobile" id="Mobile" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label>MaritalStatus</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input name="MaritalStatus" id="MaritalStatus" />
                                        </div>
                                    </div>
                                    <p></p>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <label>Gender</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input name="Gender" id="Gender" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7 col-md-offset-5">
                                        <a id="searchcustomers" class="btn btn-primary btn-search">
                                            <i class="fa fa-search"></i>
                                            @T("Search")
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default panel-grid">
        <div class="panel-body" style="overflow-x:auto;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="font-weight: bold; padding: 10px 8px;">Name</th>
                        <th style="font-weight: bold; padding: 10px 8px;">Email</th>
                        <th style="font-weight: bold; padding: 10px 8px;">Mobile</th>
                        <th style="font-weight: bold; padding: 10px 8px;">CreatedDate</th>
                        <th style="font-weight: bold; padding: 10px 8px;">Gender</th>
                        <th style="font-weight: bold; padding: 10px 8px;">MaritalStatus</th>
                        <th style="font-weight: bold; padding: 10px 8px;">ProfileImage</th>
                        <th style="font-weight: bold; padding: 10px 8px;">Edit</th>
                        <th style="font-weight: bold; padding: 10px 8px;">Delete</th>
                    </tr>
                </thead>
                <tbody id="products-grid">
                </tbody>
            </table>
            <span id="paged"> </span>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        GetPageData(pageNum = 1, valcon = 10, valcon = 10, Name = null, Email = null, Mobile = null, MaritalStatus = null, Gender = null);

    });

    //Search Panel
    $("#searchcustomers").click(function () {

        var Name = $("#Name").val();
        var Email = $("#Email").val();
        var Mobile = $("#Mobile").val();
        var MaritalStatus = $("#MaritalStatus").val();
        var Gender = $("#Gender").val();
        var pageSize = 10;
        var pageNum = 1;
        var valcon = 10;

        GetPageData(pageNum, pageSize, valcon, Name, Email, Mobile, MaritalStatus, Gender);
    })

    function GetPageData(pageNum, pageSize, valcon, Name, Email, Mobile, MaritalStatus, Gender) {
        
        var Name = $("#Name").val();
        var Email = $("#Email").val();
        var Mobile = $("#Mobile").val();
        var MaritalStatus = $("#MaritalStatus").val();
        var Gender = $("#Gender").val();

        var data1 = "PageNumber=" + pageNum + "&PageSize=" + pageSize + "&Name=" + Name + "&Email=" + Email + "&Mobile=" + Mobile + "&MaritalStatus=" + MaritalStatus + "&Gender=" + Gender;

        $("#products-grid").empty();
        $("#paged").empty();
        $.ajax({
            type: "GET",
            url: "/Admin/User/ListData",
            data: data1,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {

                if (response != null) {

                    var rowData = "";

                    for (var i = 0; i < response.length; i++) {
                        rowData = rowData + '<tr><td>' + response[i].Name + '</td><td>' + response[i].Email + '</td><td>' + response[i].Mobile + '</td><td>' + response[i].CreatedDate + '</td><td>' + response[i].Gender + '</td><td>' + response[i].MaritalStatus + '</td><td>' + '<img src = "/images/thumbs/' + response[i].ProfileImage + '"class="img-thumbnail" style = "height:50px;width:65px;" />' + '</td><td>' + '<a  class="btn btn-default" href="Edit?id=' + response[i].Id + '"><i class="fa fa-pencil"></i> </a></a>' + '</td><td>' + '<a class="btn btn-default" href="#" onclick=' + 'Delete(' + response[i].Id + ')> <i class="fa fa-trash"></i> </a>' + '</td></tr > ';
                    }
                    $("#products-grid").append(rowData);

                    if (rowData == null || rowData == "") {

                        pageNum = 1;
                        GetPageData(pageNum, pageSize, valcon, Name = null, Email = null, Mobile = null, MaritalStatus = null, Gender = null);
                        $("#products-grid").append(rowData);
                    }
                    PaggingTemplate(pageNum, response[0].TotalPages, response[0].CurrentPage, valcon);
                }
                else {
                    alert("Something went wrong");
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    // paging temlpate
    function PaggingTemplate(pageNum, totalPage, currentPage, valcon) {
        
    
        //currentPage= 1 ;
        var template = "";
        var TotalPages = totalPage;
        var CurrentPage = currentPage;
        var PageNumberArray = Array();

        var countIncr = 1;
        for (var i = currentPage ; i <= totalPage; i++) 
        {
            PageNumberArray[0] = currentPage;
            if (totalPage != currentPage && PageNumberArray[countIncr - 1] != totalPage) 
            {
                PageNumberArray[countIncr] = i + 1;
            }
            countIncr++;
        };

        PageNumberArray = PageNumberArray.slice(0, 5);
        var FirstPage = 1;
        var LastPage = totalPage;

   
        if (totalPage != currentPage) {
            var ForwardOne = currentPage + 1;
        }
        var BackwardOne = 1;
        if (currentPage > 1) {
            BackwardOne = currentPage - 1;
        }

        //paggination css
        template = "<p>" + CurrentPage + " of " + TotalPages + " pages</p>"

        template = template + '<ul class="pager">' +
            '<li class="previous" id="pFirstPage"><a  href="#" onclick="GetPageData(' + FirstPage + ')" ><i class="glyphicon glyphicon-triangle-left"></i>&nbsp;First</a></li>' +
            '<li><select class="custom-select" ng-model="pageSize" id="selectedId"><option value="10">10</option><option value="20">20</option><option value="50">50</option><option value="100">100</option></select> </li>' +
            '<li id="PreviousPage"><a href="#" onclick="GetPageData(' + BackwardOne + ', ' + valcon + ',' + valcon + ')"><i class="glyphicon glyphicon-triangle-left"></i></a></li>';

        var numberingLoop = "";
        for (var i = 0; i < PageNumberArray.length; i++) {
            //  numberingLoop = numberingLoop + '<a id="' + PageNumberArray[i] + '" onclick="GetPageData(' + PageNumberArray[i] + ')" href="#">' + PageNumberArray[i] + ' &nbsp;&nbsp;</a>'

            numberingLoop = numberingLoop + '<li id="pagelist"><a id="' + PageNumberArray[i] + '" onclick="GetPageData(' + PageNumberArray[i] + ' , ' + valcon + ',' + valcon + ')" href="#">' + PageNumberArray[i] + ' &nbsp;&nbsp;</a></li>'
        }

        template = template + numberingLoop + '<li id="NextPage"><a href="#" onclick="GetPageData(' + ForwardOne + ', ' + valcon + ',' + valcon + ')" ><i class="glyphicon glyphicon-triangle-right"></i></a></li>' +
            '<li class="next" id="LFirstPage"><a href="#" onclick="GetPageData(' + LastPage + ')">Last&nbsp;<i class="glyphicon glyphicon-triangle-right"></i></a></li></ul>';


        $("#paged").append(template);



        
        //Code For First & Last Page
        if (pageNum != 1) 
        {
            $("#pFirstPage").show();
        }
        else {
            $('#pFirstPage').addClass("disabled").find("a").attr("onclick", "return false;");
            //$('#pFirstPage').prop('onclick', null).off('click');
        }

        if (LastPage > pageNum) 
        {

            $("#LFirstPage").show();
        }
        else {
            $('#LFirstPage').addClass("disabled").find("a").attr("onclick", "return false;");
        }

        //Code For Previous & Next Page
        if (pageNum != 1) 
        {
            $("#PreviousPage").show();
        }
        else {
            $('#PreviousPage').addClass("disabled").find("a").attr("onclick", "return false;");
        }

        if (LastPage > pageNum) {
            $("#NextPage").show();
        }
        else {
            $('#NextPage').addClass("disabled").find("a").attr("onclick", "return false;");
        }

        document.getElementById(pageNum).style.backgroundColor = "lightgray";

        //Code For Pagesize
        if (valcon == '10') {

            $('#selectedId option[value="10"]').prop("selected", true);

        }
        else if (valcon == '20') {

            $('#selectedId option[value="20"]').prop("selected", true);

        }
        else if (valcon == '50') {

            $('#selectedId option[value="50"]').prop("selected", true);

        }
        else if (valcon == '100') {

            $('#selectedId option[value="100"]').prop("selected", true);

        }
        else {
            $('#selectedId option[value="10"]').prop("selected", true);
        }

        
        //if (currentPage == 1) {
        //    currentPage = pageNum;
        //    //var CurrentPage = currentPage;
        //}

        if (currentPage == pageNum) 
        {
            $('#pagelist').addClass("disabled").find("a").attr("onclick", "return false;");
        }
        else {
            $('#pagelist').addClass("disabled").find("a").attr("onclick", "return true;");
        }

        $('#selectedId').change(function () {

            var valcon = $(this).val();

            if (valcon > 0 && valcon != null) {
                valcon = $(this).val();
            }
            else {
                valcon = 10
            }

            GetPageData(pageNum, valcon, valcon, Name = null, Email = null, Mobile = null, MaritalStatus = null, Gender = null);

        });

    }

    var Delete = function (Id1) {
        $.ajax({
            type: "GET",
            url: "Delete?Id=" + Id1,
            success: function (result) {
                alert("Success!..");
                window.location.replace("List");
            }
        })
    }

    function Delete(Id1) {
        swal({
            title: "Are you sure, You want to Delete Record ?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes !",
            closeOnConfirm: true
        }, function () {
            debugger;
            $.ajax({
                type: "Post",
                url: "/User/Delete",
                data: { Id: Id1 },
                success: function (result) {
                    debugger;
                    location.reload();
                }
            })
        });
    }
</script>



