﻿@model Nop.Core.Domain.Catalog.UserTable1
@{
    ViewBag.Title = "ContactForm";
}

@*<h2>ContactForm</h2> @using (Html.BeginForm())
                       {
                       @Html.AntiForgeryToken()
                       <div class="form-horizontal">
                       <h4>ContactModel</h4>
                       <hr />
                       <form enctype="multipart/form-data" asp-action="Create">
                       @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                       <div class="form-group">
                       @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                       @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                       @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                       </div>
                       </div>
                       <div class="form-group">
                       @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                       Male
                       @Html.RadioButtonFor(model => model.Gender, "Male")
                       Female
                       @Html.RadioButtonFor(model => model.Gender, "Female")
                       </div>
                       </div>
                       <div class="form-group">
                       @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label col-md-2" })
                       <div class="col-md-10">
                       @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                       @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                       </div>
                       </div>
                       <div class="form-group">
                       <div class="col-md-offset-2 col-md-10">
                       <input type="submit" value="Save" class="btn btn-default" id="btnSave" />
                       <input type="button" value="Click Me" class="btn btn-default" id="button1" />
                       </div>
                       </div>
                       </form>
                       </div>
                       }
                       <div>
                       @Html.ActionLink("Back to List", "Index")
                       </div>
                       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
                       <script>
                       $(document).ready(function () {
                       $('#button1').css('background-color', 'yellow');
                       });
                       $(document).ready(function () {
                       $("#btnSave").click(function () {
                       $.ajax(
                       {
                       type: "POST", //HTTP POST Method
                       url: "Admin/User/Test", // Controller/View
                       data: { //Passing data
                       Name: $("#Name").val(), //Reading text box values using Jquery
                       Gender: $("#Gender").val(),
                       Mobile: $("#Mobile").val()
                       }
                       });
                       });
                       });
                       </script> *@

@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>val demo</title>
    <style>

        p {
          color: red;
          margin: 4px;
        }
        b {
          color: blue;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
    <p></p>
    <select id="single">
        <option>Single</option>
        <option>Single2</option>
        <option>Single3</option>
    </select>
    <select id="multiple" multiple="multiple">
        <option selected="selected">Multiple</option>
        <option>Multiple2</option>
        <option>Multiple3</option>
    </select>
    <script>
        function displayVals() {
            debugger;
            var singleValues = $("#single").val();
            var multipleValues = $("#multiple").val() || [];
            $("p").html("<b>Single:</b> " + singleValues +
                " <b>Multiple:</b> " + multipleValues.join(", "));
        }
        $("select").change(displayVals);
        displayVals();
    </script>
</body>
</html>  *@

@*@*<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#btn1").click(function () {
                debugger;
                $("p").prepend("<b>Prepended text</b>. ");
            });
            $("#btn2").click(function () {
                debugger;
                $("ol").prepend("<li>Prepended item</li>");
            });
        });
    </script>
</head>
<body>
    <p>This is the first paragraph.</p>
    <p>This is the second paragraph.</p>
    <ol>
        <li>Item no.1</li>
        <li>Item no.2</li>
        <li>Item no.3</li>
    </ol>
    <button id="btn1">Prepend text</button>
    <button id="btn2">Prepend list item</button>
</body>
</html>*@
<head>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link href="https://code.jquery.com/ui/1.10.4/theme/ui-lightness/jquery-ui.css" rel="stylesheet">
</head>
<script type="text/javascript">
    $(document).ready(function () {
        $('#DOB').datepicker({
            appendText: 'dd/mm/yyyy',
            //showOn: 'both',
            //buttonText: 'Calender'
            dateFormat:'dd/mm/yy',
            changeMonth:'true',
            changeYear:'true'
        });
    });
</script>
<body>
    <div class="form-group">
        <div class="col-md-1">
            <label class="required">DateOfBirth</label>
        </div>
        <div class="col-md-3">
            <input type="text" id="DOB" class="form-control" name="DateOfBirth" />
        </div>
   </div>
</body> 


